html, body {
	/*width: 960px;*/
	box-sizing: border-box;
	/*margin: 0 auto;*/
	padding: 0;
}

.container {
	max-width: 90%;
	/*border: 1px blue dotted;*/
	border-radius: 15px;
	margin: 0 auto;
	/*padding: 10px 0 10px 0;*/
}

.header {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 15px;
}

hr {
	width: 90%;
	color: grey;
	margin-bottom: 15px 0 15px 0;

}

.footer {
	text-align: center;
	margin: 10px 0 15px 0;
}

#stats, #gameProgress, #message {
	/*overflow: auto;	*/
	/*margin-bottom: 15px;*/
	text-align: center;
}

.wins-js, .targetNumber-js, .inst {
	float: left;
	width: 20%;
	height: auto;
	border: dotted blue 1px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: visible;
}

.losses-js, .currentSum-js, .startOver  {
	float: right;
	width: 20%;
	height: auto;
	border: dotted orange 1px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin-right: 10px;
	overflow: visible;
}

.message {
	clear: both;
	max-width: 80%;
	height: auto;
	/*text-align: left;*/
	border: dotted green 1px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.targetNumber-js, .currentSum-js {
	font-size: 1.5em;
}


#crystals {
	text-align: center;
	clear: both;
	max-width: 100%;
}

.crystalButton {
	padding: 10px;
}

img {
	max-width: 30%;
	height: auto;
	border-radius: 20px;
}