html, body {
	box-sizing: border-box;
}

.container {
	max-width: 960px;
	border-radius: 15px;
	margin: 0 auto;
}

.header {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 15px;
	text-shadow: 1px 2px lightblue;
}

hr {
	width: 90%;
	color: grey;
	margin-bottom: 15px 0 15px 0;
}

.footer {
	text-align: center;
	margin: 10px 0 15px 0;
	text-shadow: 1px 2px lightblue;
}

#stats, #gameProgress {
	text-align: center;
}

.wins-js, .targetNumber-js, .inst {
	float: left;
	width: 20%;
	height: auto;
	border: dotted #7BB2FF 1px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	overflow: visible;
}

.losses-js, .currentSum-js, .startOver  {
	float: right;
	width: 20%;
	height: auto;
	border: dotted orange 1px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	margin-right: 10px;
	overflow: visible;
}

.message {
	clear: both;
	max-width: 60%;
	height: auto;
	text-align: left;
	border: dotted green 1px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}

p {
	text-align: center;
	color: purple;
}

.targetNumber-js, .currentSum-js {
	font-size: 1.5em;
}

.targetTrack-js, .targetSum-js, .winsTrack, .lossesTrack {
	color: blue;
	text-shadow: 1px 1px orange;
}

#crystals {
	text-align: center;
	clear: both;
	max-width: 100%;
}

.crystalButton {
	padding: 10px;
}

img {
	max-width: 30%;
	height: auto;
	border-radius: 20px;
}

@media screen and (max-width: 640px) {
	.message { padding: 8px 5% 8px 5%; }
	.crystalButton { padding: 10px 15px 10px 15px; }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
	.message { padding: 8px 10% 8px 10%; }
	.crystalButton { padding: 10px 30px 10px 30px; }
}

@media screen and (min-width: 769px) {
	.message { padding: 8px 15% 8px 15%; }
}